<div class="card">
  <div class="card-header">Tags</div>
  <ul class="list-group">
    <%- tags.each do |name, label_class, condition, helper| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col col-2">
            <span class="label <%= label_class %>"><%= name %></span>
          </div>
          <div class="col">
            <span><%= condition %></span>
          </div>
          <div class="col">
            <code><%= helper %></code>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>